


// ==================================================
// `html `tags
// ==================================================
	
	
	// Document
	// ------------------------------
	html {
		font-size: 62.5%;
	}
	body {
		font-size: 1.4rem;
		font-family: $sans;
		line-height: 1.5;
		color: $body_text;
		background-color: white;
	}
	@include selection {
		color: white;
		background: $blue;
		text-shadow: none;
	}
	
	
	// Block Elements
	// ------------------------------
	p, h1, h2, h3, h4, h5, h6,
	ul, ol, dl, table, pre, blockquote,
	fieldset, figure {
		margin: 0 0 2rem;
	}
	address {
		font-style: inherit;
	}
	hr {
		display: block;
		clear: both;
		border: none;
		border-top: 1px solid $light_grey;
		padding: 0;
		height: 1px;
		margin: 2rem 0;
	}
	
	
	// Headings
	// ------------------------------
	h1 {
		font-size: 4.8rem;
		line-height: 1.1;
	}
	h2 {
		font-size: 3.6rem;
		line-height: 1.2;
	}
	h3 {
		font-size: 2.4rem;
		line-height: 1.3;
	}
	h4 {
		font-size: 2rem;
		line-height: 1.4;
	}
	h5 {
		font-size: 1.6rem;
	}
	h6 {
		font-size: 1.6rem;
	}
	
	
	// Lists
	// ------------------------------
	ul, ol {
		padding: 0 0 0 2em;
		
		ul, ol, dl {
			margin-bottom: 0;
		}
		
		nav & {
			list-style: none;
			padding: 0;
		}
	}
	dt {
		font-weight: bold;
		margin: 1.5em 0 0;
	}
	dd {
		margin: 0;
	}
	
	
	// Tables
	// ------------------------------
	table {
		width: 100%;
		border-collapse: collapse;
	}
	caption {
		margin-bottom: .5em;
	}
	td, th {
		padding: .5em 1em;
		border: 1px solid $light_grey;
		text-align: left;
		vertical-align: top;
		
		thead &,
		tfoot & {
			background-color: $light_grey;
		}
	}
	@media (max-width: 600px) {
		table {
			
			// Display all elements as block
			&, thead, tfoot, tbody, tr, th, td, caption {
				display: block;
				// Fix for IE9:
				float: left;
				width: 100%;
				box-sizing: border-box;
			}
			
			// Hide table headers
			thead tr,
			tfoot tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			
			// Style rows and cells
			tr {
				margin-bottom: 2rem;
			}
			td, th {
				margin-bottom: -1px;
			}
			th {
				background: $light_grey;
			}

			// Add extra column for headings
			td[data-column-name],
			th[data-column-name] {
				padding-left: 25%;
				padding-right: 0;
				overflow: hidden;
				
				&:before {
					content: attr( data-column-name );
					float: left;
					margin-left: -34%;
					width: 30%;
					padding-left: 1em;
					box-sizing: border-box;
					overflow: hidden;
					font-weight: bold;
				}
			}
		}
	}
	
	
	// Quotes
	// ------------------------------
	blockquote, q {
		font-style: italic;
		color: $grey;
	}
	cite {
		font-style: normal;
	}
	blockquote {
		border-left: 3px solid $light_grey;
		padding-left: 2em;
		
		p {
			margin-bottom: 1em;
		}
		cite {
			display: block;
			text-align: right;
			font-weight: bold;
		}
	}
	
	
	// Code
	// ------------------------------
	pre, code, kbd, samp {
		font-family: $code;
	}
	pre, code {
		background-color: $light_grey;
		border-radius: 3px;
	}
	pre {
		padding: .5em 1em;
		overflow: auto;
	}
	
	
	// Links
	// ------------------------------
	a {
		color: $blue;
		transition: color .5s, background-color .5s, border .5s;
		text-decoration: underline;
		
		&:visited {
			color: mix( $blue, $light_grey, 50% );
		}
		&:hover,
		&:focus {
			color: white;
			background-color: $blue;
			text-decoration: none;
		}
	}
	
	
	// Media
	// ------------------------------
	img, iframe,
	video, audio, canvas, svg, figure,
	embed, object {
		box-sizing: border-box;
		max-width: 100%;
	}
	img {
		height: auto;
	}
	figure {
		background: $light_grey;
		text-align: center;
		padding: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}
	figcaption {
		font-size: .85em;
	}
	
	
	// Other
	// ------------------------------
	dt,
	caption,
	legend {
		font-weight: bold;
		text-transform: uppercase;
	}
	abbr {}



// ==================================================
// `form `tags
// ==================================================
	
	form {}
	fieldset {
		padding: 1em 1.5em;
		border: 1px solid $light_grey;
	}
	
	
	// Text Boxes
	// ------------------------------
	@include stylable-inputs {
		box-sizing: border-box;
		border: 1px solid $grey;
		color: $dark_grey;
		padding: .5em 1em;
		width: 100%;
	}
	textarea {
		resize: vertical;
	}
	
	
	// Other <input>s
	// ------------------------------
	input[type="checkbox"],
	input[type="radio"],
	input[type="file"],
	input[type="image"] {}
	@include buttons {}
	datalist {}
	keygen {}
	output, progress, meter {
		width: 100%;
		box-sizing: border-box;
	}
	output {
		display: inline-block;
		padding: 1em;
		background: $light_grey;
	}
	
	
	// Attributes and pseudo-classes
	// ------------------------------
	
	input, textarea, select {
		&[readonly],
		&[disabled] {
			border-color: mix( $light_grey, $grey );
			background: $light_grey;
		}
	}
	
	@include placeholder {
		color: $aa_grey;
	}
	
	@include stylable-inputs {
		&:required {}
		&:optional {}
		&:valid {}
		&:invalid {}
		&:in-range {}
		&:out-of-range {}
		&:read-only {}
		&:read-write {}
	}
