


// ==================================================
// `general `classes
// ==================================================
	
	
	// Wrapper
	// ------------------------------
	.wrapper {
		max-width: 1200px;
		padding: 0 20px;
		margin: 0 auto;
		@include clearfix;
	}
	
	
	// Buttons
	// ------------------------------
	// If the site will use WooCommerce, beware of possible conflicts with WC's own .button class (you can just rename this class to something else)
	.button {
		display: inline-block;
		width: auto;
		border: none;
		padding: 0.5em 2em;
		margin: 0;
		
		color: white;
		background: $blue;
		text-decoration: none;
		text-align: center;
		font-weight: normal;
		
		border-radius: 3px;
		box-sizing: border-box;
		transition: color .5s, background-color .5s, border .5s;
		position: relative;
		cursor: pointer;
		
		&:hover,
		&:focus {
			color: white;
			background: $light_blue;
		}
	}
	
	
	// Layout helpers
	// ------------------------------
	.ratio-16-9 {
		@include fixed-ratio( 16, 9 );
	}
	.ratio-4-3 {
		@extend .ratio-16-9;
		@include fixed-ratio-override( 4, 3 );
	}
	.ratio-1-1 {
		@extend .ratio-16-9;
		@include fixed-ratio-override( 1, 1 );
	}
	
	
	// Extend backgrounds
	// ------------------------------
	.extend-left {
		@include extend-left;
	}
	.extend-right {
		@include extend-right;
	}
	
	
	// Messages
	// ------------------------------
	.message {
		display: block;
		padding: .5em 1em;
		border: none;
		margin: 0 0 2rem;
		background: $light_grey;
		border-left: 5px solid $blue;
		
		> * {
			margin-bottom: 0;
		}
		ul {
			padding-left: 1em;
		}
		a {
			text-decoration: underline;
		}
		a:hover,
		a:focus {
			text-decoration: none;
		}
	}
	.message--error {
		border-color: $error;
		color: $error;
		a {
			color: $error;
		}
		a:hover,
		a:focus {
			color: white;
			background-color: $error;
		}
	}
	.message--success {
		border-color: $success;
		color: $success;
		a {
			color: $success;
		}
		a:hover,
		a:focus {
			color: white;
			background-color: $success;
		}
	}
	.message--alert {
		border-color: black;
		color: black;
		background: $alert;
		a {
			color: black;
		}
		a:hover,
		a:focus {
			color: white;
			background-color: black;
		}
	}


	// Voodoo Logo
	// ------------------------------
	.vclogo {
		font-family: 'voodoo';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		text-decoration: none;
	}
