


// ==================================================
// Sample Grids
// ==================================================
	
	// NOTES:
	// The code in this section is just an example of how to use the grid functions, delete/add/edit the code to fit every project
	// If you want to create generic, reusable grids, add them here. For section-specific layouts you can add the code in their own section
	// (e.g. for a basic 2 column page layout, see the example in general.scss)


	// Static Layout
	// ------------------------------
	.grid-static {
		// the 'grid-row' mixin will include the necessary rules to the container element (clearfix and margins)
		// pass as an argument the default margin between columns (gutter) that the grid will have
		@include grid-row( 20px );
		// the 'grid-col' mixin will include the rules to setup the columns, pass the width as the 1st argument
		.col-1 { @include grid-col( 10% ) }
		// For the width argument you can also pass two numbers separated by 'of' and the correct percentage will be calculated automatically,
		// for example, passing "2 of 10" will add a width of 20%
		.col-2 { @include grid-col( 2 of 10 ) }
		.col-3 { @include grid-col( 3 of 10 ) }
		// By default the grid-col mixin will use the same gutter that you used on the last grid-row() call
		// If you want a particular column to have a different gutter, pass it as the 2nd argument (will be added as margin-left)
		.col-4 { @include grid-col( 4 of 10, 10% ) }
		// you can use 'grid-push' and 'grid-pull' passing a width argument to visually change the order of the columns
		// this is useful when the visual order needs to be different than the order in the markup
		// in this example the order of the columns in the markup is 1-2-3-4 but we're changing it visually to 1-2-4-3
		.col-3 { @include grid-push( 4 of 10 ) }
		.col-4 { @include grid-pull( 3 of 10 ) }
	}


	// Responsive Layout
	// ------------------------------
	.grid-responsive {
		@include grid-row( 0px );
		.col {
			@include grid-col( 1 of 2 );
			// If there's any grids that can potentially hold more than 1 row of elements at a time,
			// remember to clear the first cell of every row to prevent the layout from breaking
			&:nth-child( 2n+1 ) { clear: both }
		}
		// you can use media queries to make responsive layouts
		@media (min-width: 600px) {
			.col {
				@include grid-col( 1 of 3 );
				&:nth-child( 2n+1 ) { clear: none }
				&:nth-child( 3n+1 ) { clear: both }
			}
		}
	}
