


// ==================================================
// `content `page
// ==================================================
	
	
	// Standard Templates
	// ------------------------------
	.main-container {
		@include grid-row( 2rem );
	}
	.content-column,
	.sidebar-column {
		@include grid-col( 1 of 1 );
		margin-bottom: 2rem;
	}
	@media (min-width: 800px) {
		.content-column {
			@include grid-col( 2 of 3 );
			@include grid-push( 1 of 3 );
		}
		.sidebar-column {
			@include grid-col( 1 of 3 );
			@include grid-pull( 2 of 3 );
		}
	}
