


// ==================================================
// `helpers
// ==================================================
	
	
	// Visibility
	// ------------------------------
	.visuallyhidden {
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		word-wrap: normal !important;
		
		&.focusable:active,
		&.focusable:focus {
			height: auto;
			width: auto;
			overflow: visible;
			clip: rect(auto, auto, auto, auto);
		}
	}
	.invisible {
		visibility: hidden;
	}
	
	
	// Text
	// ------------------------------
	.text-left {
		text-align: left;
	}
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}
	.break-words {
		@include break-words;
	}
	
	
	// Float
	// ------------------------------
	.float-left {
		float: left;
	}
	.float-right {
		float: right;
	}
	.clear{
		clear: both;
	}
	img, figure {
		&.float-left {
			margin: 0 1em 1em 0;
		}
		&.float-right {
			margin: 0 0 1em 1em;
		}
	}
	
	
	// Overflow
	// ------------------------------
	.clearfix {
		@include clearfix;
	}
	.scroll {
		@include smooth-scroll;
	}
	.no-overflow {
		overflow: hidden;
	}
	
	
	// Spacing
	// ------------------------------
	.no-margin {
		margin-bottom: 0;
	}
	.margin-1 {
		margin-bottom: 2rem;
	}
	.margin-2 {
		margin-bottom: 4rem;
	}
	.margin-3 {
		margin-bottom: 6rem;
	}
	.margin-4 {
		margin-bottom: 8rem;
	}
	
	
	// Sizing
	// ------------------------------
	.full-width {
		display: block;
		box-sizing:	border-box;
		width: 100%;
	}



// ==================================================
// `WordPress WYSIWYG
// ==================================================
	
	
	// Alignment
	// ------------------------------
	.alignnone {}
	.alignleft {
		@extend .float-left;
	}
	.alignright {
		@extend .float-right;
	}
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	// Screen Readers
	// ------------------------------
	.screen-reader-text {
		@extend .visuallyhidden;
	}
	
	
	// Captions
	// ------------------------------
	.wp-caption {
		max-width: 100%;
	}
	.wp-caption-text {}
	
	
	// Other
	// ------------------------------
	.gallery-caption {}
	.sticky {}
	.bypostauthor {}
